footer{
    flex-direction: column;
    align-items: center;
    background-color: #373867;
    color: white;
}
footer img{
    filter: invert();
    padding: 30px 10px 10px 10px;
}
footer p{
    padding: 10px 0px 20px 0px;
    text-align: center;
    font-size: 9px;
}