<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/signup.css">
    <script src="../javascript/employee-signup.js" ></script>
    <script src="../javascript/login.js" ></script>
    <title>Log in at TrackGenix</title>
</head>
<body>
    <header>
        <h2>
            TrackGenix
        </h2>
    </header>
    <main>
        <!-- <div class="sign-up-section">
            <img src="../assets/signup-clock.png" alt="">
        </div> -->
        <div class="sign-up-section">
            <p>Log in</p>
            <form action="">
                <fieldset>
                    <input type="text" id="email" placeholder="Email">
                    <p id="error17" class="error-message">Email not valid</p>
                </fieldset>
                <fieldset>
                    <input type="password" id="password1" placeholder="Password">
                    <p id="error18" class="error-message">Password must be at least 8 characters long and have both letters and numbers</p>

                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>