<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/signup.css">
    <script src="../javascript/script.js" ></script>
    <title>Sign up at TrackGenix</title>
</head>
<body>
    <header>
        <h2>
            TrackGenix
        </h2>
    </header>
    <main>
        <!-- <div class="sign-up-section">
            <img src="../assets/signup-clock.png" alt="">
        </div> -->
        <div class="sign-up-section">
            <p>Sign up</p>
            <form action="">
                <div class="namecontainer">
                    <fieldset class="names">
                        <input type="text" id="first-name" placeholder="Name">
                        <p id="error1" class="error-message">Name must have at least 3 characters</p>
                        <p id="error2" class="error-message">Name can't have numbers</p>
                    </fieldset>
                    <fieldset class="names">
                        <input type="text" id="last-name" placeholder="Last name">
                        <p id="error3" class="error-message">Last name must have at least 3 characters</p>
                        <p id="error4" class="error-message">Last name can't have numbers</p>
                    </fieldset>
                </div>
                <fieldset>
                    <input type="text" id="DNI" placeholder="DNI">
                    <p id="error5" class="error-message">DNI must be at least 8 numbers long</p>
                    <p id="error6" class="error-message">DNI can only have numbers</p>
                </fieldset>
                <fieldset>
                    <input type="text" id="birth-date" placeholder="Birth date">
                    <p id="error7" class="error-message">Birth date must be in dd/mm/yy format</p>
                </fieldset>
                <fieldset>
                    <input type="text" id="phone-number" placeholder="Phone number">
                    <p class="error-message"></p>
                    <p  id="error9" class="error-message">Phone number must be 10 characters long</p>
                    <p  id="error10" class="error-message">Phone number can not contain letters or special characters</p>
                </fieldset>
                <fieldset>
                    <input type="text" id="address" placeholder="Address">
                    <p  id="error11" class="error-message">Address must be at least 5 characters long and have multiple words</p>
                    <p  id="error12" class="error-message">Address must include letters and numbers</p>
                </fieldset>
                <fieldset>
                    <input type="text" id="city" placeholder="City or location">
                    <p  id="error13" class="error-message">Location must be at least 4 characters long</p>
                    <p  id="error14" class="error-message">Location must include letters and numbers only</p>
                </fieldset>
                <fieldset>
                    <input type="text" id="postal" placeholder="Postal code">
                    <p  id="error15" class="error-message">Postal code must be between 4 and 5 numbers long</p>
                    <p  id="error16" class="error-message">Postal code must be all numbers</p>
                </fieldset>
                <fieldset>
                    <input type="text" id="email" placeholder="Email">
                    <p id="error17" class="error-message">Invalid email format. Format must be example@domain.com</p>
                </fieldset>
                <fieldset>
                    <input type="text" id="password" placeholder="Password">
                    <p id="error18" class="error-message">Password must be at least 8 characters long and have both letters and numbers</p>
                    <p id="error19" class="error-message">Pass word must be only leters and numbers</p>
                </fieldset>
                <fieldset>
                    <input type="text" id="password2" placeholder="Repeat password">
                </fieldset>
                <fieldset>
                    <input id="submit-button" type="submit" value="Sign Up">
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>