<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/signup.css">
    <script src="../javascript/script.js" ></script>
    <title>Sign up at TrackGenix</title>
</head>
<body>
    <header>
        <h2>
            TrackGenix
        </h2>
    </header>
    <main>
        <div class="sign-up-section">
            <img src="../assets/signup-clock.png" alt="">
        </div>
        <div class="sign-up-section">
            <p>Sign up</p>
            <form action="">
                <div class="namecontainer">
                    <fieldset class="names">
                        <input type="text" id="first-name" placeholder="Name">
                        <p id="error1" class="error-message">Name must have at least 3 characters</p>
                        <p id="error2" class="error-message">Name can't have numbers</p>
                    </fieldset>
                    <fieldset class="names">
                        <input type="text" id="last-name" placeholder="Last name">
                        <p class="error-message"></p>
                        <p class="error-message"></p>
                    </fieldset>
                </div>
                <fieldset>
                    <input type="text" id="DNI" placeholder="DNI">
                    <p class="error-message"></p>
                    <p class="error-message"></p>
                </fieldset>
                <fieldset>
                    <input type="text" id="birtday" placeholder="Birth day">
                    <p class="error-message"></p>
                    <p class="error-message"></p>
                </fieldset>
                <fieldset>
                    <input type="text" id="phone-number" placeholder="Phone number">
                    <p class="error-message"></p>
                    <p class="error-message"></p>
                </fieldset>
                <fieldset>
                    <input type="text" id="address" placeholder="Address">
                    <p class="error-message"></p>
                    <p class="error-message"></p>
                </fieldset>
                <fieldset>
                    <input type="text" id="email" placeholder="Email">
                    <p class="error-message"></p>
                    <p class="error-message"></p>
                </fieldset>
                <fieldset>
                    <input type="text" id="password" placeholder="Password">
                </fieldset>
                <fieldset>
                    <input type="text" id="password2" placeholder="Repeat password">
                </fieldset>
                <fieldset>
                    <input id="submit-button" type="submit" value="Sign Up">
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>