@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body{
    display: flex;
    flex-direction: column;
    background-color: #373867;
    margin: 0;
}
section, div,  article, form, fieldset, footer{
    display: flex;
}
a:link, a:visited{
    text-decoration: none;
}
main a:link, main a:visited{
    color: black;
}
a:hover{
    text-decoration: underline;
}
.header-and-main{
    display: flex;
    flex-direction: column;
}
aside, .main-img, .bubbles, .social-media{
    display: none;
}
html{
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Sans-serif';
}
.all-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.red-border{
    border: 2px solid #b60d0d !important;
}
.error-message{
    visibility: hidden;
    margin: 3px;
    color: #b60d0d;
    font-size: 10px !important;
}
.modal{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(35, 35, 35, 0.5)
}
.modal-alert{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 30px 60px 50px 60px;
    background-color: white;
    border-radius: 25px;
}
.modal-alert button{
    padding: 10px 20px 10px 20px;
    margin: 10px;
    background-color: #373867;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: 0px;
    font-size: 20px;
}
.user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.user-info div{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.data{
    font-size: 14px;
}
.error-alert{
    font-size: 12px;
    color: #b60d0d;
}
#error-message{
    display: flex;
    flex-direction: column;
}
#error-message p{
    color: #b60d0d;
    font-size: 13px;
}
.show{
    visibility: visible;
}
.none{
    display: none;
}
@media screen and (min-width: 1024px){
    .header-and-main{
        width: 82%;
    }
}