@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

h1{
    color:white;
    font-family: 'Roboto', 'Sans-serif';
}
header{
    right: 0%;
    top: 0%;
    bottom: 93.83%;
    background: #373867;
    mix-blend-mode: normal;
}
/* hola esto es un comentario */
.estoquieroquesearojo{
    color: red;
}

.tuvieja{
    color: red;
}

.tuhermana{
    color:black;
}